.ul{
    display: flex;
    padding-top: 75px;
    gap: 6px;
    width: 100vw;
    position: relative;
    justify-content: center;


    
}


@media(max-width: 1184px){
    .ul{
        padding-top: 100px;
        justify-content: start;
        flex-wrap: nowrap;
        overflow-y: hidden;
        
    }
}
@media(max-width: 1024px){
    .ul{
        justify-content: center;

    }

}
@media(max-width: 688px){
    .ul{
        justify-content: start;
    }

}