.section{
    background-color: #A0C4FE;
    height: 660px;
    margin-top: -200px;
    padding-top: 220px;
    display: flex;
    width: 100%;
}

.first_half{
    display: flex;
    flex-direction: column;
    gap: 20.5px;
}
.div_container{
    background-color: white;
    display: flex;
    width: 100%;
    height: 310px;
    align-items: center;
    margin-left: 83px;
    border-radius: 40px;
    justify-content: space-around;
    
    &>div>img{
        padding-right: 40px;
    }
}
.div_text{
    padding-left: 34px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    
    &>h3{
        font-size: 36px;
        font-weight: 700;
        line-height: 40px;       
    }

    &>p{
        font-size: 20px;
        color: #78868F;
        font-weight: 500;
        line-height: 24px;
    }
}

.second_half{
    padding-left: 49px;
    width: 516px;
    display: flex;
    flex-direction: column;
    gap: 38px;
}
.div_title{
    &>h3{
        font-size: 56px;
        font-weight: 700;
        line-height: 67px;
    }
}

.second_div_text{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 70px;

    &>p{
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        color: #353535;
    }
}

@media(max-width: 820px){
    .section{
        margin-top: -100px;
        flex-direction: column;
        gap: 40px;
        height: 60%;
    
    }
    .first_half{
        padding-left: 10px;
        padding-right: 10px;
    }
    .div_container{
        gap: 0;
        margin-left: 0;
        align-items: center;
        border-radius: 20px;
        gap: 5px;
        height: 150px;
        
        &>div>img{
            padding: 0;
            width: 50px;
        }
    }

    .div_text{
        width: 240px;
        height: 80px;
        padding: 0;
       
        &>h3{
            font-size: 20px;
            line-height: 20px;
        }
        &>p{
            font-size: 15px;
            line-height: 15px;
        }
    }
    .second_half{
        padding: 0;
        align-items: center;
        overflow: hidden;
        width: 100%;
        align-items: center;
    }
    .div_title{
        &>h3{
            font-size: 22px;
            line-height: 20px;
        }
    }
    .second_div_text{
        text-align: center;
        padding-bottom: 5px;
        &>p{  
            font-size: 15px;
        }
    }
    .div_img{
        align-items: center;
        justify-content: center;
        display: flex;
        &>img{
            width: 40%;
        }
    }
}