.li {
    padding: 8px 8px 34px 8px;
    border-radius: 25px;
    box-shadow: 3px 0px 8px rgba(0, 0, 0, 0.33);
    background-color: white;
    width: 275px; 
    height: 350px;
    cursor: pointer;
    position: inherit;

    &:hover {
        & >div> img {
            transform: translateY(-100px);
            transition: 0.5s;
        }
    }
    &>div{
        z-index: 2;
        position: relative;
    }

    & > h3 {
        font-size: 32px;
        font-weight: 600;
        line-height: 38px;
        padding-top: 18px;
        position: absolute;
        z-index: 1;
        bottom: 10px;
    }

    & > p {
        text-align: center;
        padding-left: 5px;
        padding-right: 5px;
        position: absolute;
        z-index: 1;
        bottom: 30%;
    }
}


@media (max-width: 820px) {
    .li {
        &>div{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        height: 180px;
        width: 400px; 
        
        &>p{
            font-size: 13px;
            width: 85%;
        }
        &>h3{
            font-size: 18px;
        }

        &>div>img{
            width: 150px;
            position: relative;
            z-index: 2;
            
        }
    }
}